

/* assets */




/* Dropdown content reveal */

.flashy_dropdown_content
{
	height: 0px;
	color: #000;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
}




/* Dropdown menu */

.flashy_menu
{
	background-color: #5ea55f;
	height: 50px;
}

.flashy_menu > .flashy_menu_header > .flashy_menu_button
{
	padding: 10px;
	font-size: 20px;
	background-color: #5ea55f;
	color: #fff;
	border: 2px solid #5ea55f;
}

.flashy_menu > .flashy_menu_header
{
	display: inline-block;
	width: 200px;
	margin: auto;
	text-align: center;
}

.flashy_menu > .flashy_menu_header > .flashy_dropdown_menu
{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	display: none;
	position: absolute;
	overflow: hidden;
	background-color: white;
	border-left: 1px solid #5ea55f;
	border-right: 1px solid #5ea55f;
	min-width: 150px;
/*	width: -webkit-fit-content;
width: -moz-fit-content; */
}

.flashy_dropdown_menu > p > a
{
	color: #5ea55f;
}

.flashy_dropdown_menu > p:hover
{
	background-color: #dcdcdc;
}




.flashy_dropdown_menu > p > a
{
	text-decoration: none;
}


/* Horizontal slide-in */

.flashy_horizontal_content
{
	top:0px;
	height: 100vh;
	visibility: hidden;
	position: fixed;
	overflow: hidden;
	z-index: 2;
	background-color: #5ea55f;
	color: white;
}

.flashy_horizontal_content > div
{
	padding: 10px;
}






/* Notification */

.flashy_notification_target 
{
	width: 350px;
	background-color: #5ea55f;
	color: white;
	padding: 10px;
}

.flashy_notification
{
	padding: 5px;
	background-color: white;
	border: 1px solid #5ea55f;
	color: #5ea55f;
	display: none;
	width: 100px;
	margin-top: -20px;
}





/* Pop-up */

.flashy_popup_box_background
{
	top: 0px;
	position: fixed;
	opacity: 0.9;
	background-color: grey;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
}

.flashy_popup_box
{
	width: 95%;
	visibility: hidden;
	background-color: white;
	position: fixed;
	top: 10px;
	z-index: 3;
	padding: 10px;
	height: 80vh;
	margin-left: 10px;
	border-radius: 5px;
	text-align: center;
}









/* Sticky object */

.flashy_sticky_object
{
	position: fixed;
	font-size: 10px;
	border-radius: 20px;
	opacity: 0.8;
}


.flashy_sticky_object_container
{
	padding: 15px;
	background-color: #5ea55f;
	color: #fff;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	-o-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	width: 350px;
}





/* Tabbed menu */

.flashy_tabbed_menu
{
	border: 1px solid black;
}

.flashy_tabbed_menu > .flashy_tabs_button_area
{
	border-bottom: 1px solid black;
}


.flashy_tabbed_menu > .flashy_tabs_content_area 
{
	background-color: white;
	height: 122px;
	padding: 10px;
}

.flashy_tabbed_menu > .flashy_tabs_content_area > div
{
	height: 100px;
	visibility: hidden;
	position: absolute;
}






/* Smaller devices */

@media only screen and (max-width: 701px) 
{

.flashy_menu > .flashy_menu_header
{
	width: 100px;
}

.flashy_sticky_object_container
{
	width: 250px;
}


.flashy_notification_target 
{
	width: 250px;
}


.flashy_popup_box
{
	width: 90%;
}

}










/* Demo page only - not needed for functionality*/
body
{
	font-family: 'Indie Flower', cursive;
	background-color: #a6eda7;
	margin: 0px;
}

.title_section
{
	background-color: #5ea55f;
	color: #fff;
	padding: 10px;
}

.btn
{
	padding: 10px;
	font-size: 10px;
	margin: 10px;
	margin-right: 0px;
	background-color: #5ea55f;
	color: #fff;
	border: 2px solid #5ea55f;
}


